/* App.css */
.openBtn {
  margin-top: 240px;
  border: 1px solid dodgerblue;
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 21px;
}